#banner,#menu,#main,#footer{
    position: relative;
    float: left;
}
#banner{
    width: 1333px;
    height: 150px;
    background-color: aqua;
    display: block;
}
#logo{
    position: absolute;
}
#title{
    width: 620px;
    height: 150px;
    float: right;
    display: block;
    
}
#bg_title{
    position: relative;
    width: 600px;
    height: 100px;
    color: darkseagreen;
    margin-top: 20px;
    float: right;
}
#slogan{
    width: 1333px;
    height: 30px;
    background-color: white;
    float: right;
}
#bg_slogan{
    display:  inline-flex;
    width:  1333px;
    height: 30px;
    float: left;
    font-size: 24px;
    color: red;
    margin-top: 3px;
}
#slogan1{
    color: red;
}
#menu{
    width: 1333px;
    height: 50px;
    background-color: cadetblue;
    margin-top: 5px;
}
#bg_menu{
    display:  block;
    width: 1333px;
    height: 30px;
    margin-top: 10px;
    float: left;
}
ul{
    font-size: 24px;
    display:  block;
    float: left; 
    margin: 0px;
    padding: 0px;
    list-style: none;/*xóa kí hiệu của danh sách không thứ tự*/
}
li{
    float: left;
}
a.ten_menu_ngang, a.ten_menu_doc{
    text-decoration-line: none;/*xóa dấu gạch chân của link*/
}
.chucnang1:hover{
    background-color: rgb(93, 136, 138);
    width: 200px;
}
.chucnang:hover{
    background-color: rgb(93, 136, 138);
}
#main{
    float: left;
    width: 1333px;
    height: auto;
    background-color: thistle;
    margin-top: 10px;
    margin-left: 2px;
}
#left{
    background-color: rgb(17, 44, 44);
    width: 200px;
    float: left;
    color: red;
}
#center{
    color: blue;
    width: 920px;
    float: left;
    margin-right: 5px;
}
#right{
    background-color: rgb(17, 44, 44);
    width: 206px;
    margin-left: 1px;
    float: left;
    font-size: 24px;
    color: red;
}
#footer{
    background-color:whitesmoke;
    width: 1333px;
    height: auto;
    font-size: 18px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*phân trang*/
.phan_trang a{
    font-size:36px;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
    color:blue;
}
.phan_trang a:hover{
    background-color:cornsilk;
    color:red;
}    
/*phân trang*/
a{
    text-decoration: none;
}

/*từ sản phẩm mới bên cột trái*/
#spmoi,#noi_bat,#title_gh,#quangcao{
    width:150px;
    height: 25px;
    background-color: darkgray;
    color: red;
    border: 2px solid darkgray;
    margin-left: 25px;
}
#noi_bat{
    width:180px;
    font-size: 24px;
    margin-left: 8px;
}
#vunggiohang{
    background-color: darkorange;
    border:4px solid darkorange;
}
#title_gh,#quangcao{
    font-size: 24px;
    text-align: center;
}
.chucnang a{
    color: darkslategrey;
    width: 120px;
    float: left;
    margin-left: 50px;
}
a.ten_menu_doc{
   color: yellowgreen;
}a.ten_menu_doc:hover{
    color: yellow;
}
#mthh{
    font-size: 24px;
    color: #333;
}
#tbhh{
    color: red;
}
img#img1{
    background-color: darkorange;
}